@import '../abstracts/_vars.css';

.img-about {
  width: 37.9375rem;
  height: 41.1875rem;
  border-radius: 1.25rem;
}

.pe-join{
  padding-right: 2.5rem;
}

.img-root{

  
}

.custom-about{
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}