/* Backgrounds Colors */
.bg-container-search {
  height: 100vh;
  background-color: #1C5D99;
}

.bg-container-about {
  height: auto !important;
  /* height: 100vh; */
  background: hsl(0, 0%, 13%);
}

.bg-container-categories {
  height: fit-content;
  background-color: #8C99A9;
}

.bg-container-popular {
  height: 100vh;
  background-color: white;
}

.bg-light-blue{
  background: var(--clr-white-blue);
}

.bg-dark-yellow{
  background: var(--clr-dark-yellow);
}

/*Border*/
.border-dark-yellow{
  border: var(--clr-dark-yellow);
}

/*Rounded*/
.rounded-register-input{
  border-radius: 20px;
}

.custom-label {
  position: absolute;
  top: 50%; /* Alinea el texto verticalmente en el centro */
  transform: translateY(-10%); /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal (izquierda) según sea necesario */
  font-size: 18px; /* Tamaño de fuente personalizado */
  pointer-events: none; /* Evita que el label sea clickeable */
}

/*Colors*/
.clr-dark-yellow{
  color: var(--clr-dark-yellow);
}

.bg-light-blue-responsive{
  background: var(--clr-white-blue);
}

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1400px) {

  .bg-light-blue-responsive{
    width: 50%;
  }

}


