@import '../abstracts/_vars.css';

/*colors*/

.color-black{
  color: var(--clr-black)
}

.color-whiteblue{
  color: var(--clr-white-blue);
}

.color-darkblue{
  color: var(--clr-dark-clue);
}

/*colors*/

.about-title{
  font-family: var(--ff-kan);
  font-size: var(--fs-55);
  font-weight: var(--fw-sbold);
  padding-left: 3rem;
  margin-top: -1.5rem;
}

.about-text{
  font-family: var(--ff-pop);
  font-size: var(--fs-30);
  font-weight: var(--fw-light);
  padding-left: 3rem;
  margin-top: 40px;
}

.title-pf{
  font-family: var(--ff-kan);
  font-size: var(--fs-40);
  font-weight: var(--fw-med);
  padding-top: 1.44rem;
}

.subtitle-pf{
  font-family: var(--ff-pop);
  font-size: var(--fs-rg);
  font-weight: var(--fw-med);
  margin-top: -20px;
}

.pub-pf{
  font-family: var(--ff-pop);
  font-size: var(--fs-rg);
  font-weight: var(--fw-reg);
  padding-right: 390px;
  color: hsla(0, 0%, 23%, 1);
}

.name-prof{
  font-family: var(--ff-pop);
  font-size: var(--fs-23);
  font-weight: var(--fw-med);
}

.work-prof{
  font-family: var(--ff-pop);
  font-size: var(--fs-23);
  font-weight: var(--fw-reg);
  margin-top: -15px;
}

.subs-prof{
  font-family: var(--ff-pop);
  font-size: var(--fs-23);
  font-weight: var(--fw-sbold);
  margin-top: -15px;
}

.description-prof{
  font-family: var(--ff-pop);
  font-size: var(--fs-rg);
  font-weight: var(--fw-reg);
  text-align: justify;
}

.title-work{
  font-family: var(--ff-pop);
  font-size: var(--fs-25);
  font-weight: var(--fw-sbold);
}

.amount-work{
  font-family: var(--ff-pop);
  font-size: var(--fs-xsm);
  font-weight: var(--fw-sbold);
}

.description-work{
  font-family: var(--ff-pop);
  font-size: var(--fs-sm);
  font-weight: var(--fw-reg);
  text-align: justify;
}

.date-work{
  font-family: var(--ff-pop);
  font-size: var(--fs-xsm);
  font-weight: var(--fw-reg);
}

.msg-jobs{
  font-family: var(--ff-pop);
  font-size: var(--fs-rg);
  font-weight: var(--fw-reg);
  color: hsla(0, 0%, 23%, 1);
}

@media (max-width: 1400px) {
  .about-title{
    font-size: 39px;
    margin-top: -15px;
  }

  .about-text{
    font-size: 21px;
  }
  
  .pub-pf{
    padding-right: 175px;
  }

  .subs-prof{
    font-size: var(--fs-sm);
  }

  .work-prof{
    font-size: var(--fs-sm);
  }

  .description-prof{
    font-size: var(--fs-sm);
  }

  .description-work{
    font-size: var(--fs-xsm);
  }

  .date-work{
    font-size: 15px;
  }
}