@import '../abstracts/_vars.css';

.img-about {
  width: 37.9375rem;
  height: 41.1875rem;
  border-radius: 1.25rem;
}

.pe-join{
  padding-right: 2.5rem;
}

.custom-about{
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.category-homecard{
  min-width: 14.7265rem;
  max-width: 17.7265rem;
}

.profile-homecard{
  min-width: 22.375rem;;
  max-width: 22.375rem;;
}

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1400px) {
  .img-about {
    width: 26.1rem;
    height: 29.6rem;
  }

  .custom-about{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}