@import '../abstracts/_vars.css';

/*colors*/

.color-black{
  color: var(--clr-black)
}

.color-whiteblue{
  color: var(--clr-white-blue);
}

/*colors*/

.about-title{
  font-family: var(--ff-kan);
  font-size: var(--fs-55);
  font-weight: var(--fw-sbold);
  padding-left: 3rem;
  margin-top: -1.5rem;
}

.about-text{
  font-family: var(--ff-pop);
  font-size: var(--fs-30);
  font-weight: var(--fw-light);
  padding-left: 3rem;
  margin-top: 40px;
}
