@import '../abstracts/_vars.css';

.btn-join{
  width: 7.5625rem;
  height: 3.4375rem;
  background: var(--clr-white-blue);
  color: var(--clr-black);
  border-radius: 1.25rem;
  font-family: var(--ff-pop);
  font-size: var(--fs-25);
  font-weight: var(--fw-sbold);
  border: none;
}